@font-face{
	font-family: news;
	/*src: url(news.otf);*/
}
body{

}
#title{background-color: red;
color:white;}

.subtitle{
		color: black;
}
button{
	height: 30px;
}
li{
	line-height: 20px;
}
.blind{
	padding-left: 3000px;
	margin-left: -3000px;
	background-color: #006400;
	color: white;
	padding-top: 500px;
	margin-top: -450px;
	padding-bottom: 500px;
	margin-bottom: -500px;
	opacity:0.8;
	z-index:1;
	position: relative;
}
.jumbotron{
  background-image: url("hiker.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 500px;
}
.keepTop{
	position:relative;
	z-index:1100;
}
#You{
	position:relative;
	z-index:1000;
	color: white;
}
#footer{
	padding-top: 50px;
	margin-top: -45px;
	text-align: left;
}
